*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* ---------- Form reset ---------- */
button,
input,
select,
textarea {
  font: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea,
select {
  margin: 0;
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: var(--font-poppins);
}

h1 {
  font-size: 77px;
}
h2 {
  font-size: 50px;
}
h3 {
  font-size: 30px;
}
